@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.has-open-nav { overflow: hidden; }
.has-open-nav .nav_drop { -moz-transform: translateY(0); -ms-transform: translateY(0); -webkit-transform: translateY(0); transform: translateY(0); }

body { font-family: Tahoma, Arial, sans-serif; font-size: 13px; line-height: 1.4; min-width: 320px; color: #555; }

.l-center { margin: 0 auto; padding: 0 10px; max-width: 1160px; }
@media only screen and (max-width: 1200px) { .l-center { max-width: 1024px; } }
@media only screen and (max-width: 1024px) { .l-center { max-width: 768px; } }
@media only screen and (max-width: 768px) { .l-center { max-width: 480px; } }
@media only screen and (max-width: 480px) { .l-center { width: 320px; } }

a { text-decoration: none; }

.out { padding: 73px 0 90px; margin: 0 0 -110px; position: relative; min-height: 100%; height: auto !important; height: 100%; }
@media only screen and (max-width: 1024px) { .out { padding: 60px 0 40px; } }
.out_index { background: #f3f3f3; }
.out_404 { overflow: hidden; margin: 0; padding: 0; height: 100vh; }

.push { clear: both; height: 110px; }

.wrap { *zoom: 1; }
.wrap:after { content: " "; display: table; clear: both; }

.header { position: fixed; top: 0; left: 0; right: 0; z-index: 10; background: #fff; box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); }
.header .l-center { *zoom: 1; }
.header .l-center:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 1024px) { .header .l-center { position: relative; } }

.logo { position: relative; z-index: 2; float: left; font: 0/0 a; text-shadow: none; color: transparent; height: 73px; line-height: 73px; }
@media only screen and (max-width: 1024px) { .logo { height: 60px; line-height: 60px; } }
.logo:before { content: ""; display: inline-block; vertical-align: middle; background: url("../img/svg/logo.svg") no-repeat 0 0; -moz-background-size: 207px 32px; -o-background-size: 207px 32px; -webkit-background-size: 207px 32px; background-size: 207px 32px; width: 207px; height: 32px; display: inline-block; }
@media only screen and (max-width: 1024px) { .logo:before { background: url("../img/svg/logo.svg") no-repeat 0 0; -moz-background-size: 162px 25px; -o-background-size: 162px 25px; -webkit-background-size: 162px 25px; background-size: 162px 25px; width: 162px; height: 25px; display: inline-block; } }

.nav { float: left; margin-left: 8%; *zoom: 1; }
.nav:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 1200px) { .nav { margin-left: 4%; } }
@media only screen and (max-width: 1024px) { .nav { display: none; } }
.nav__item { float: left; margin-left: 38px; -moz-transition: background 0.2s; -o-transition: background 0.2s; -webkit-transition: background 0.2s; transition: background 0.2s; }
@media only screen and (max-width: 1024px) { .nav__item { float: none; margin-left: 0; } }
.nav__item:first-child { margin-left: 0; }
.nav__item:hover { background: #8c8d8d; }
.nav__item:hover .nav__link { color: #fff; }
.nav__item:hover .nav__drop { opacity: 1; visibility: visible; }
.nav__item.is-active { background: #fff; }
.nav__item.is-active > .nav__link { color: #eb4200; }
.nav__item.is-active > .nav__link:after { content: ""; position: absolute; bottom: 0; left: -10px; right: -10px; height: 2px; background: #eb4200; }
.nav__link { display: block; position: relative; padding: 0 15px; height: 73px; line-height: 73px; color: #333; font-size: 13px; text-transform: uppercase; }
.nav__drop { position: absolute; opacity: 0; left: 0; right: 0; top: 100%; padding: 27px 0 30px; background: #8c8d8d; visibility: hidden; -moz-transition: opacity 0.2s; -o-transition: opacity 0.2s; -webkit-transition: opacity 0.2s; transition: opacity 0.2s; }
.nav__drop .l-center { *zoom: 1; }
.nav__drop .l-center:after { content: " "; display: table; clear: both; }
.nav__feedback { background: #333; }
.nav__feedback .nav__link { color: #fff; }

.lang { position: relative; float: right; width: 68px; text-align: center; font-size: 13px; text-transform: uppercase; -moz-transition: background 0.2s; -o-transition: background 0.2s; -webkit-transition: background 0.2s; transition: background 0.2s; }
@media only screen and (max-width: 1024px) { .lang { margin-right: 60px; } }
.lang:hover, .lang.is-active { background: #8c8d8d; }
.lang:hover .lang__active, .lang.is-active .lang__active { color: #fff; }
.lang:hover .lang__active span:before, .lang.is-active .lang__active span:before { display: none; }
.lang:hover .lang__active span:after, .lang.is-active .lang__active span:after { display: block; }
.lang:hover a, .lang.is-active a { color: #fff; }
.lang:hover .lang__list, .lang.is-active .lang__list { opacity: 1; visibility: visible; }
.lang__active { position: relative; display: block; z-index: 2; height: 73px; line-height: 73px; color: #999; -moz-transition: color 0.2s; -o-transition: color 0.2s; -webkit-transition: color 0.2s; transition: color 0.2s; }
@media only screen and (max-width: 1024px) { .lang__active { height: 60px; line-height: 60px; } }
.lang__active span { display: inline-block; position: relative; line-height: 1; }
.lang__active span:before, .lang__active span:after { content: ""; position: absolute; top: 3px; right: -14px; }
.lang__active span:before { background: url("../img/svg/caret-d.svg") no-repeat 0 0; -moz-background-size: 7px 4px; -o-background-size: 7px 4px; -webkit-background-size: 7px 4px; background-size: 7px 4px; width: 7px; height: 4px; display: inline-block; }
.lang__active span:after { background: url("../img/svg/caret-t.svg") no-repeat 0 0; -moz-background-size: 7px 4px; -o-background-size: 7px 4px; -webkit-background-size: 7px 4px; background-size: 7px 4px; width: 7px; height: 4px; display: inline-block; display: none; }
.lang__list { opacity: 0; visibility: hidden; position: absolute; top: 0; left: 0; right: 0; padding: 58px 0 15px; -moz-transition: opacity 0.2s; -o-transition: opacity 0.2s; -webkit-transition: opacity 0.2s; transition: opacity 0.2s; background: #8c8d8d; }
.lang__list a { display: block; padding: 11px 0; color: #fff; -moz-transition: color 0.2s; -o-transition: color 0.2s; -webkit-transition: color 0.2s; transition: color 0.2s; }
.lang__list a:hover { color: #ccc; }

.toggle-nav { display: none; position: absolute; top: 10px; right: 10px; width: 40px; height: 40px; line-height: 40px; background: #eb4200; -moz-transition: background 0.2s; -o-transition: background 0.2s; -webkit-transition: background 0.2s; transition: background 0.2s; }
.toggle-nav:hover { background: #d23b00; }
.toggle-nav.is-active i { background: none; }
.toggle-nav.is-active i:before { -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); top: 0; }
.toggle-nav.is-active i:after { -ms-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg); bottom: 0; }
@media only screen and (max-width: 1024px) { .toggle-nav { display: block; } }
.toggle-nav i { position: relative; display: inline-block; vertical-align: middle; height: 2px; width: 26px; background: #fff; -moz-transition: background 0.2s; -o-transition: background 0.2s; -webkit-transition: background 0.2s; transition: background 0.2s; }
.toggle-nav i:before, .toggle-nav i:after { content: ""; position: absolute; left: 0; right: 0; height: 2px; background: #fff; -moz-transition: -moz-transform 0.2s, top 0.2s, bottom 0.2s; -o-transition: -o-transform 0.2s, top 0.2s, bottom 0.2s; -webkit-transition: -webkit-transform 0.2s, top 0.2s, bottom 0.2s; transition: transform 0.2s, top 0.2s, bottom 0.2s; }
.toggle-nav i:before { top: -8px; }
.toggle-nav i:after { bottom: -8px; }

.nav_drop { display: none; -moz-transition: -moz-transform 0.3s; -o-transition: -o-transform 0.3s; -webkit-transition: -webkit-transform 0.3s; transition: transform 0.3s; -moz-transform: translateY(-150%); -ms-transform: translateY(-150%); -webkit-transform: translateY(-150%); transform: translateY(-150%); }
@media only screen and (max-width: 1024px) { .nav_drop { display: block; position: fixed; top: 0; right: 0; z-index: 9; margin: 0; top: 60px; bottom: 0; width: 320px; overflow-y: auto; background: #fff; } }
.nav_drop .nav__drop { position: static; opacity: 1; visibility: visible; padding: 5px 0; }
.nav_drop .nav__drop .l-center { padding: 0; }
.nav_drop .nav__item { margin-bottom: 5px; }
.nav_drop .nav__item.is-active { background: #eb4200; }
.nav_drop .nav__item.is-active a { color: #fff; }
.nav_drop .nav__link { height: 50px; line-height: 50px; }
.nav_drop .item-small { display: block; width: 100%; margin: 0; }
.nav_drop .item-small__img, .nav_drop .item-small__icon { display: none; }
.nav_drop .item-small a { display: block; padding: 10px 30px; }
.nav_drop .item-small a:hover { background: #7f8080; }

.items-small-wrap { font-size: 0; }

.item-small { position: relative; display: inline-block; vertical-align: top; margin-left: 29px; width: 117px; font-size: 14px; color: #fff; }
@media only screen and (max-width: 1200px) { .item-small { width: 115px; margin-left: 10px; } }
.item-small:first-child { margin-left: 0; }
@media only screen and (max-width: 1024px) { .item-small:first-child { margin-left: 0; } }
.item-small a { display: block; color: #fff; }
.item-small__img { position: relative; margin-bottom: 4px; height: 117px; overflow: hidden; }
.item-small__img:hover:before { background: rgba(0, 0, 0, 0.8); }
.item-small__img:hover + span { position: absolute; top: 0; left: 0; right: 0; top: 50%; padding: 0 10px; -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); z-index: 2; text-align: center; pointer-events: none; }
.item-small__img:before { content: ""; position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 2; background: transparent; -moz-transition: background 0.2s; -o-transition: background 0.2s; -webkit-transition: background 0.2s; transition: background 0.2s; }
.item-small__img img { display: block; width: auto; height: 100%; }
.item-small__icon { margin-bottom: 4px; width: 117px; background: #7c7c7c; line-height: 117px; text-align: center; -moz-transition: background 0.2s; -o-transition: background 0.2s; -webkit-transition: background 0.2s; transition: background 0.2s; }
.item-small__icon:hover .item-small__img { background: #626262; }
.item-small__icon .fa { vertical-align: middle; font-size: 48px; color: #fff; }
.item-small span { -moz-transition: top 0.2s, -moz-transform 0.2s; -o-transition: top 0.2s, -o-transform 0.2s; -webkit-transition: top 0.2s, -webkit-transform 0.2s; transition: top 0.2s, transform 0.2s; }

.footer { position: relative; z-index: 2; min-height: 110px; overflow: hidden; background: #939494; color: #fff; font-size: 11px; *zoom: 1; }
.footer:after { content: " "; display: table; clear: both; }
.footer a { color: #fff; }
.footer__top { border-bottom: 1px solid #a6a6a6; *zoom: 1; }
.footer__top:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 768px) { .footer__top .l-center { display: -webkit-flex; display: flex; -webkit-flex-direction: column; flex-direction: column; } }
.footer__label { float: left; margin-right: 6%; padding: 16px 0; *zoom: 1; }
.footer__label:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 1200px) { .footer__label { margin-right: 20px; } }
@media only screen and (max-width: 768px) { .footer__label { order: 3; } }
@media only screen and (max-width: 480px) { .footer__label { text-align: center; } }
.footer__label a { display: inline-block; vertical-align: middle; }
@media only screen and (max-width: 480px) { .footer__label a { margin-bottom: 10px; } }
.footer__label a img { display: block; }
.footer__label a img:hover { -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); }
.footer__label span { display: inline-block; vertical-align: middle; max-width: 82px; margin-left: 5px; line-height: 1.1; }
@media only screen and (max-width: 768px) { .footer__label span { max-width: 100%; } }
.footer__menu { float: left; }
@media only screen and (max-width: 1024px) { .footer__menu { float: none; overflow: hidden; text-align: right; } }
@media only screen and (max-width: 768px) { .footer__menu { clear: both; display: table; margin-bottom: 10px; width: 100%; table-layout: fixed; text-align: center; order: 1; } }
.footer__menu li { float: left; text-transform: uppercase; margin-left: 30px; }
@media only screen and (max-width: 1200px) { .footer__menu li { margin-left: 0; } }
@media only screen and (max-width: 1024px) { .footer__menu li { display: inline-block; float: none; vertical-align: middle; } }
@media only screen and (max-width: 768px) { .footer__menu li { display: table-cell; } }
.footer__menu li:first-child { margin-left: 0; }
.footer__menu li.is-active a { background: #7c7c7c; }
.footer__menu a { display: block; padding: 0 15px; height: 73px; line-height: 73px; font-size: 12px; -moz-transition: background 0.2s; -o-transition: background 0.2s; -webkit-transition: background 0.2s; transition: background 0.2s; }
@media only screen and (max-width: 768px) { .footer__menu a { height: 60px; line-height: 60px; } }
.footer__menu a:hover { background: #7c7c7c; }
.footer__info { float: right; *zoom: 1; }
.footer__info:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 1024px) { .footer__info { float: none; clear: both; } }
@media only screen and (max-width: 768px) { .footer__info { order: 2; } }
.footer__contact { float: left; margin-left: 30px; padding-top: 25px; }
@media only screen and (max-width: 1200px) { .footer__contact { margin-left: 10px; } }
@media only screen and (max-width: 1024px) { .footer__contact { margin: 0 10px 0 0; padding-top: 0; } }
@media only screen and (max-width: 480px) { .footer__contact { width: 50%; margin: 0 0 10px; } }
.footer__contact a { display: inline-block; font-size: 12px; margin-left: 8px; vertical-align: middle; }
@media only screen and (max-width: 1024px) { .footer__contact a { margin: 0 10px 0 0; } }
.footer__contact a:hover .icon-wrap { background: #eb4200; }
.footer__contact .icon-wrap, .footer__contact span { display: inline-block; vertical-align: middle; }
.footer__contact .icon-wrap { margin-right: 4px; width: 30px; height: 30px; text-align: center; line-height: 28px; background: #7c7c7c; border-radius: 50%; -moz-transition: background 0.2s; -o-transition: background 0.2s; -webkit-transition: background 0.2s; transition: background 0.2s; }
.footer__contact .fa { vertical-align: middle; }
.footer__social { position: relative; float: right; margin-left: 15px; padding: 25px 13px 16px; }
@media only screen and (max-width: 1024px) { .footer__social { padding-top: 0; } }
@media only screen and (max-width: 768px) { .footer__social { margin-left: 0; } }
@media only screen and (max-width: 480px) { .footer__social { float: none; padding: 0; clear: both; } }
.footer__social:before, .footer__social:after { content: ""; position: absolute; top: 1px; bottom: 1px; width: 1px; background: #a6a6a6; }
@media only screen and (max-width: 1024px) { .footer__social:before, .footer__social:after { display: none; } }
.footer__social:before { left: 0; }
.footer__social:after { right: 0; }
.footer__facebook { display: inline-block; padding: 8px 12px; background: #3a5795; font-size: 12px; -moz-transition: background 0.2s; -o-transition: background 0.2s; -webkit-transition: background 0.2s; transition: background 0.2s; }
@media only screen and (max-width: 480px) { .footer__facebook { display: block; } }
.footer__facebook:hover { background: #304b86; }
.footer__facebook span { margin-left: 7px; border-left: 1px solid #6179aa; padding-left: 7px; }
@media only screen and (max-width: 480px) { .footer__facebook span { position: absolute; top: 8px; right: 12px; } }
.footer__facebook .fa { margin-right: 10px; }
.footer__bottom { display: table; width: 100%; table-layout: fixed; }
.footer__meta { display: table-cell; padding: 9px 0; vertical-align: middle; }
.footer__meta span { display: inline-block; margin-right: 13px; vertical-align: middle; }
.footer__meta a { display: inline-block; vertical-align: middle; -moz-transition: opacity 0.2s; -o-transition: opacity 0.2s; -webkit-transition: opacity 0.2s; transition: opacity 0.2s; }
.footer__meta a img { display: block; }
.footer__meta a:hover { opacity: 0.8; }
.footer__copyright { display: table-cell; padding: 9px 0; text-align: right; vertical-align: middle; }
.footer__copyright span { vertical-align: middle; }

.btn-feedback { position: fixed; top: 50%; right: 42px; z-index: 9; margin-top: -67px; -moz-transform: rotate(-90deg); -ms-transform: rotate(-90deg); -webkit-transform: rotate(-90deg); transform: rotate(-90deg); -moz-transform-origin: 100% 0; -ms-transform-origin: 100% 0; -webkit-transform-origin: 100% 0; transform-origin: 100% 0; padding: 0 15px; height: 42px; line-height: 42px; background: #333; font-size: 14px; font-weight: bold; color: #fff; border-radius: 5px 5px 0 0; -webkit-font-smoothing: antialiased; -moz-transition: background 0.2s; -o-transition: background 0.2s; -webkit-transition: background 0.2s; transition: background 0.2s; }
@media only screen and (max-width: 1024px) { .btn-feedback { display: none; } }
.btn-feedback:hover { background: #000; }
.btn-feedback:active { right: 41px; }

.banner { position: relative; color: #fff; text-align: center; margin-bottom: -45px; }
@media only screen and (max-width: 768px) { .banner { margin-bottom: 40px; } }
.banner + div { position: relative; z-index: 2; }
.banner__main { position: relative; overflow: hidden; min-height: 360px; background: #8c8d8d; height: calc(100vh - 73px); }
@media only screen and (max-width: 1024px) { .banner__main { height: calc(100vh - 60px); } }
.banner__img { position: absolute; top: 0; left: 0; right: 0; bottom: 0; }
.banner__img picture { position: absolute; bottom: 0; left: 0; width: 100%; }
@media only screen and (max-width: 1366px) { .banner__img picture { position: static; } }
.banner__img img { display: block; width: 100%; height: auto; }
@media only screen and (max-width: 1366px) { .banner__img img { width: auto; height: 100%; } }
.banner .l-center { position: relative; z-index: 2; height: 100%; padding-top: 11%; }
.banner__title { margin: 0 0 20px; font-size: 24px; }
@media only screen and (max-width: 1024px) { .banner__title { font-size: 20px; } }
.banner__title strong { display: block; font-size: 36px; }
@media only screen and (max-width: 1024px) { .banner__title strong { font-size: 30px; } }
.banner__link { display: inline-block; padding: 0 40px 0 35px; height: 44px; line-height: 44px; background: rgba(0, 0, 0, 0.7); border-radius: 3px; font-size: 14px; color: #fff; text-transform: uppercase; -moz-transition: background 0.2s; -o-transition: background 0.2s; -webkit-transition: background 0.2s; transition: background 0.2s; }
.banner__link:hover { background: #000; }
.banner__link .icon-currency { margin-right: 8px; }

.menu-wrap { position: absolute; z-index: 2; width: 1160px; padding: 0 10px; left: 50%; bottom: 17.5%; margin-left: -580px; }
@media only screen and (max-width: 1200px) { .menu-wrap { width: 1024px; margin-left: -512px; } }
@media only screen and (max-width: 1024px) { .menu-wrap { width: 768px; margin-left: -384px; } }
@media only screen and (max-width: 768px) { .menu-wrap { position: static; margin: 0 auto; max-width: 480px; width: auto; } }
@media only screen and (max-width: 480px) { .menu-wrap { width: 320px; } }

.title-line { margin-bottom: 20px; overflow: hidden; font-size: 14px; color: #fff; }
@media only screen and (max-width: 768px) { .title-line { margin: 40px 0 20px; color: #555; } }
.title-line span { display: inline-block; position: relative; }
.title-line span:before, .title-line span:after { content: ""; position: absolute; top: 50%; height: 1px; width: 1000px; background: rgba(255, 255, 255, 0.4); }
@media only screen and (max-width: 768px) { .title-line span:before, .title-line span:after { background: rgba(0, 0, 0, 0.4); } }
.title-line span:before { left: -1024px; }
.title-line span:after { right: -1024px; }

.menu { display: table; width: 100%; table-layout: fixed; font-size: 13px; text-transform: uppercase; font-weight: bold; text-align: center; }
@media only screen and (max-width: 1200px) { .menu { font-size: 12px; } }
@media only screen and (max-width: 1024px) { .menu { font-size: 11px; table-layout: auto; } }
@media only screen and (max-width: 768px) { .menu { display: block; *zoom: 1; }
  .menu:after { content: " "; display: table; clear: both; } }
.menu li { display: table-cell; padding-left: 1px; vertical-align: middle; }
@media only screen and (max-width: 768px) { .menu li { display: block; float: left; width: 50%; padding: 0; border-top: 1px solid #ddd; border-left: 1px solid #ddd; } }
.menu li:first-child { padding-left: 0; }
@media only screen and (max-width: 768px) { .menu li:first-child { border-top: 0; } }
@media only screen and (max-width: 768px) { .menu li:nth-child(2) { border-top: 0; } }
@media only screen and (max-width: 768px) { .menu li:nth-child(2n+1) { border-left: 0; } }
.menu a { display: block; height: 51px; line-height: 51px; background: #fff; color: #333; -moz-transition: color 0.2s, background 0.2s; -o-transition: color 0.2s, background 0.2s; -webkit-transition: color 0.2s, background 0.2s; transition: color 0.2s, background 0.2s; }
.menu a:hover { background: #8c8d8d; color: #fff; }

.icon-currency { display: inline-block; vertical-align: middle; width: 22px; height: 22px; background: #eb4200; border-radius: 50%; text-align: center; line-height: 22px; }
.icon-currency .fa { vertical-align: middle; font-size: 12px; color: #fff; }

.items-wrap { font-size: 0; }

.item { position: relative; display: inline-block; vertical-align: top; height: 262px; width: 32%; margin-left: 2%; }
@media only screen and (max-width: 768px) { .item { display: block; margin-bottom: 20px; width: 100%; margin-left: 0; } }
.item:first-child { margin-left: 0; }
.item:hover .item__img:before { background: rgba(0, 0, 0, 0.5); }
.item__img { position: relative; height: 197px; overflow: hidden; }
.item__img img { display: block; height: auto; width: 100%; }
@media only screen and (max-width: 1200px) { .item__img img { height: 110%; width: auto; } }
@media only screen and (max-width: 768px) { .item__img img { width: 100%; height: auto; } }
.item__img:before { content: ""; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: transparent; -moz-transition: background 0.2s; -o-transition: background 0.2s; -webkit-transition: background 0.2s; transition: background 0.2s; }
.item__info { height: 65px; background: #fff; border: 1px solid #ddd; text-align: center; font-size: 0; -moz-transition: background 0.2s; -o-transition: background 0.2s; -webkit-transition: background 0.2s; transition: background 0.2s; }
.item__info:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.item__in { display: inline-block; vertical-align: middle; font-size: 14px; }
.item__in strong { display: block; font-weight: bold; color: #333; text-transform: uppercase; }
.item__in span { color: #8c8d8d; }

.fotorama_items .fotorama__stage { height: 262px; }
.fotorama_items .item { width: 100%; }
.fotorama_items .fotorama__shadows--right { border-style: none !important; }
.fotorama_items .fotorama__nav--dots { display: none; }
.fotorama_items .fotorama__arr { bottom: 64px; top: auto; left: auto; margin: 0; width: 30px; height: 30px; line-height: 30px; background: #fff; border: 1px solid #ddd; -moz-transform: translate3d(0, 0, 0) !important; -ms-transform: translate3d(0, 0, 0) !important; -webkit-transform: translate3d(0, 0, 0) !important; transform: translate3d(0, 0, 0) !important; opacity: 1 !important; text-align: center; -moz-transition: background 0.2s, border 0.2s; -o-transition: background 0.2s, border 0.2s; -webkit-transition: background 0.2s, border 0.2s; transition: background 0.2s, border 0.2s; }
.fotorama_items .fotorama__arr:hover { background: #eb4200; border-color: #eb4200; }
.fotorama_items .fotorama__arr:hover:after { opacity: 1; }
.fotorama_items .fotorama__arr:hover:before { opacity: 0; }
.fotorama_items .fotorama__arr:before, .fotorama_items .fotorama__arr:after { content: ""; position: absolute; top: 50%; left: 50%; margin: -8px 0 0 -5px; -moz-transition: opacity 0.2s; -o-transition: opacity 0.2s; -webkit-transition: opacity 0.2s; transition: opacity 0.2s; }
.fotorama_items .fotorama__arr:after { opacity: 0; }
.fotorama_items .fotorama__arr--next { right: 0; }
.fotorama_items .fotorama__arr--next:before { background: url("../img/svg/caret-r.svg") no-repeat 0 0; -moz-background-size: 9px 17px; -o-background-size: 9px 17px; -webkit-background-size: 9px 17px; background-size: 9px 17px; width: 9px; height: 17px; display: inline-block; }
.fotorama_items .fotorama__arr--next:after { background: url("../img/svg/caret-r-white.svg") no-repeat 0 0; -moz-background-size: 9px 17px; -o-background-size: 9px 17px; -webkit-background-size: 9px 17px; background-size: 9px 17px; width: 9px; height: 17px; display: inline-block; }
.fotorama_items .fotorama__arr--prev { right: 29px; }
.fotorama_items .fotorama__arr--prev:before { background: url("../img/svg/caret-l.svg") no-repeat 0 0; -moz-background-size: 9px 17px; -o-background-size: 9px 17px; -webkit-background-size: 9px 17px; background-size: 9px 17px; width: 9px; height: 17px; display: inline-block; }
.fotorama_items .fotorama__arr--prev:after { background: url("../img/svg/caret-l-white.svg") no-repeat 0 0; -moz-background-size: 9px 17px; -o-background-size: 9px 17px; -webkit-background-size: 9px 17px; background-size: 9px 17px; width: 9px; height: 17px; display: inline-block; }

.badge { position: absolute; top: 10px; left: 0; padding: 0 15px; height: 33px; line-height: 33px; font-size: 12px; color: #fff; font-weight: bold; white-space: nowrap; background: #eb4200; }
.badge:after { content: ""; position: absolute; top: 0; right: -12px; width: 0px; height: 0px; border-style: solid; border-width: 33px 12px 0 0; border-color: #eb4200 transparent transparent transparent; }

.text-col { margin-bottom: 45px; line-height: 1.4; color: #999; -moz-column-count: 2; -webkit-column-count: 2; column-count: 2; -moz-column-gap: 65px; -webkit-column-gap: 65px; column-gap: 65px; }
@media only screen and (max-width: 768px) { .text-col { -moz-column-count: 1; -webkit-column-count: 1; column-count: 1; } }
.text-col p { margin-bottom: 28px; }
.text-col p strong { font-weight: normal; color: #444; }

.add { display: table; table-layout: fixed; width: 100%; margin: 67px 0 60px; background: #fff; font-size: 14px; color: #555; -moz-transition: box-shadow 0.2s; -o-transition: box-shadow 0.2s; -webkit-transition: box-shadow 0.2s; transition: box-shadow 0.2s; }
@media only screen and (max-width: 1024px) { .add { font-size: 11px; } }
@media only screen and (max-width: 768px) { .add { display: block; margin: 40px 0; font-size: 14px; } }
@media only screen and (max-width: 480px) { .add { text-align: center; } }
.add:hover { box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
.add__left { display: table-cell; vertical-align: middle; position: relative; padding: 0 45px; height: 61px; width: 45%; font-weight: bold; text-transform: uppercase; background: #eb4200; color: #fff; }
@media only screen and (max-width: 1200px) { .add__left { width: 50%; padding: 0 20px; } }
@media only screen and (max-width: 768px) { .add__left { display: block; padding: 15px 10px; width: 100%; height: auto; } }
.add__left:after { content: ""; position: absolute; top: 0; right: -27px; width: 0px; height: 0px; border-style: solid; border-width: 61px 27px 0 0; border-color: #eb4200 transparent transparent transparent; -moz-transition: border 0.2s; -o-transition: border 0.2s; -webkit-transition: border 0.2s; transition: border 0.2s; }
@media only screen and (max-width: 768px) { .add__left:after { display: none; } }
.add i, .add span { display: inline-block; vertical-align: middle; }
.add .icon-gift { margin-right: 36px; }
@media only screen and (max-width: 1024px) { .add .icon-gift { margin-right: 10px; } }
@media only screen and (max-width: 480px) { .add .icon-gift { margin: 0 0 10px; } }
.add__right { display: table-cell; padding-left: 8%; vertical-align: middle; }
@media only screen and (max-width: 768px) { .add__right { display: block; padding: 15px 10px; } }

.icon-gift { width: 32px; height: 32px; background: #fff; border-radius: 50%; text-align: center; line-height: 32px; }
.icon-gift .fa { font-size: 16px; color: #eb4200; }

.page-head { position: relative; overflow: hidden; height: 235px; }
.page-head:before, .page-head:after { content: ""; position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 2; }
.page-head:before { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9Ii0wLjA5OTk5MSIgeTE9IjAuNjk5OTQiIHgyPSIxLjA5OTk5MSIgeTI9IjAuMzAwMDYiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiLz48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZiNGMyOSIgc3RvcC1vcGFjaXR5PSIwLjQiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background-size: 100%; background-image: -moz-linear-gradient(18.43deg, #000000 0%, rgba(0, 0, 0, 0.4) 0%, rgba(251, 76, 41, 0.4) 100%); background-image: -webkit-linear-gradient(18.43deg, #000000 0%, rgba(0, 0, 0, 0.4) 0%, rgba(251, 76, 41, 0.4) 100%); background-image: linear-gradient(71.57deg, #000000 0%, rgba(0, 0, 0, 0.4) 0%, rgba(251, 76, 41, 0.4) 100%); }
.page-head:after { top: auto; height: 50%; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.6))); background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)); background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)); background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)); }
.page-head img { position: absolute; left: 50%; top: 50%; -moz-transform: translateX(-50%) translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%); -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); }
.page-head .l-center { position: relative; height: 235px; z-index: 3; }
.page-head__title { position: absolute; bottom: 19px; left: 10px; right: 10px; font-size: 36px; color: #fff; }

.breadcrumbs-wrap { background: #f3f3f3; }

.breadcrumbs { margin: 0 0 22px; color: #8c8d8d; font-size: 11px; *zoom: 1; }
.breadcrumbs:after { content: " "; display: table; clear: both; }
.breadcrumbs a, .breadcrumbs span { float: left; margin-right: 16px; position: relative; height: 27px; line-height: 27px; -moz-transition: color 0.2s; -o-transition: color 0.2s; -webkit-transition: color 0.2s; transition: color 0.2s; }
@media only screen and (max-width: 1024px) { .breadcrumbs a, .breadcrumbs span { height: 40px; line-height: 40px; } }
.breadcrumbs a:before, .breadcrumbs span:before { content: ""; position: absolute; left: -9px; top: 13px; font-family: FontAwesome; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; transform: translate(0, 0); font-size: 12px; }
.breadcrumbs a { color: #333; }
.breadcrumbs a:hover { color: #eb4200; }
.breadcrumbs a:first-child:before { display: none; }

.l-cols { *zoom: 1; }
.l-cols:after { content: " "; display: table; clear: both; }

.l-col { float: right; width: 47%; }
@media only screen and (max-width: 1024px) { .l-col { float: none; width: 100%; } }
.l-col:first-child { float: left; }
@media only screen and (max-width: 1024px) { .l-col:first-child { float: none; } }

.accord { margin-bottom: 17px; background: #fff; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
.accord_height .accord__title { min-height: 98px; }
@media only screen and (max-width: 768px) { .accord_height .accord__title { min-height: 70px; } }
.accord__title { position: relative; padding: 15px 50px 15px 15px; font-size: 18px; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -moz-transition: color 0.2s, background 0.2s; -o-transition: color 0.2s, background 0.2s; -webkit-transition: color 0.2s, background 0.2s; transition: color 0.2s, background 0.2s; min-height: 54px; line-height: 1.3; }
@media only screen and (max-width: 768px) { .accord__title { min-height: 30px; padding: 10px 30px 10px 15px; font-size: 16px; } }
.accord__title:hover { background: #f9f9f9; color: #939494; }
.accord__title:hover:after { color: #939494; }
.accord__title:active { background: #ececec; }
.accord__title:after { content: ""; position: absolute; right: 17px; top: 50%; margin-top: -9px; font-family: FontAwesome; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; transform: translate(0, 0); font-size: 18px; color: #eb4200; -moz-transition: color 0.2s; -o-transition: color 0.2s; -webkit-transition: color 0.2s; transition: color 0.2s; -moz-transition: -moz-transform 0.2s; -o-transition: -o-transform 0.2s; -webkit-transition: -webkit-transform 0.2s; transition: transform 0.2s; }
.accord__title.is-active:after { -ms-transform: rotate(-180deg); -webkit-transform: rotate(-180deg); transform: rotate(-180deg); }
.accord__title span { display: block; margin-bottom: 2px; color: #8c8d8d; font-size: 14px; }
.accord__body { display: none; padding: 15px; }
.accord__body .file-icon { margin-left: 5px; }
.accord__body .text { padding-bottom: 5px; }
.accord__body .text:before { content: ""; position: absolute; left: 0; top: -18px; width: 22px; height: 2px; background: #eb4200; }

.file { margin-bottom: 15px; }
.file__link { display: inline-block; position: relative; padding-left: 40px; color: #555; -moz-transition: color 0.2s; -o-transition: color 0.2s; -webkit-transition: color 0.2s; transition: color 0.2s; }
.file__link:hover { color: #eb4200; }
.file .file-icon { position: absolute; left: 0; top: -4px; }

.file-icon { display: inline-block; position: relative; background: url("../img/svg/file.svg") no-repeat 0 0; -moz-background-size: 17px 23px; -o-background-size: 17px 23px; -webkit-background-size: 17px 23px; background-size: 17px 23px; width: 17px; height: 23px; display: inline-block; }
.file-icon_pdf i { background: #eb4200; }
.file-icon_doc i { background: #4498ce; }
.file-icon_dwg i { background: #8c8d8d; }
.file-icon i { position: absolute; left: -5px; right: -5px; bottom: 4px; height: 11px; line-height: 11px; text-align: center; font-size: 8px; color: #fff; text-transform: uppercase; border-radius: 2px; font-style: normal; }

.text { position: relative; line-height: 1.8; font-size: 13px; color: #555; }
.text p { margin-bottom: 10px; }
.text a { color: #eb4200; -moz-transition: color 0.2s; -o-transition: color 0.2s; -webkit-transition: color 0.2s; transition: color 0.2s; }
.text a:hover { color: #e03e00; }

.title { position: relative; margin: 35px 0 45px; font-size: 24px; font-weight: normal; color: #555; }
@media only screen and (max-width: 768px) { .title { font-size: 18px; } }
.title:after { content: ""; position: absolute; bottom: -18px; left: 0; width: 65px; height: 2px; background: #eb4200; }

.list-links { line-height: 1.8; }
.list-links li { position: relative; margin-bottom: 10px; padding-left: 30px; }
.list-links li:before { content: ""; position: absolute; top: 7px; left: 0; background: url("../img/svg/arr-r.svg") no-repeat 0 0; -moz-background-size: 15px 9px; -o-background-size: 15px 9px; -webkit-background-size: 15px 9px; background-size: 15px 9px; width: 15px; height: 9px; display: inline-block; }
.list-links a { color: #eb4200; -moz-transition: color 0.2s; -o-transition: color 0.2s; -webkit-transition: color 0.2s; transition: color 0.2s; }
.list-links a:hover { color: #e03e00; }

.error-page { position: relative; overflow: hidden; height: 100vh; }
.error-page .l-center { position: relative; z-index: 2; padding-top: 75px; height: 100%; text-align: center; font-size: 0; text-align: right; }
.error-page .l-center:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
@media only screen and (max-width: 1024px) { .error-page .l-center { padding-top: 60px; } }
.error-page img { position: absolute; top: 50%; left: 50%; width: 100%; -moz-transform: translateX(-50%) translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%); -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); }
@media only screen and (max-width: 1200px) { .error-page img { height: 100%; width: auto; } }
@media only screen and (max-height: 700px) { .error-page img { width: 100%; height: auto; } }
@media only screen and (max-width: 768px) { .error-page img { height: 100%; width: auto; } }
.error-page:before { content: ""; position: absolute; top: 50%; left: 0; right: 0; bottom: 0; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC41Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.5))); background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)); background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)); background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)); }
.error-page__in { display: inline-block; vertical-align: middle; text-align: left; max-width: 570px; }
@media only screen and (max-width: 1024px) { .error-page__in { max-width: 100%; width: 100%; } }
@media only screen and (max-width: 768px) { .error-page__in { text-align: right; } }
.error-page__title { margin-bottom: 53px; font-size: 18px; color: #fff; text-shadow: 0 0 35px #000; }
@media only screen and (max-width: 768px) { .error-page__title { font-size: 14px; margin-bottom: 20px; } }
.error-page__title strong { display: block; margin-bottom: 24px; position: relative; font-weight: bold; font-size: 72px; }
@media only screen and (max-width: 768px) { .error-page__title strong { font-size: 30px; } }
.error-page__title strong:after { content: ""; position: absolute; bottom: -15px; left: 0; width: 54px; height: 3px; background: #eb4200; }
@media only screen and (max-width: 768px) { .error-page__title strong:after { left: auto; right: 0; } }
.error-page__title span { font-size: 48px; }
@media only screen and (max-width: 768px) { .error-page__title span { font-size: 20px; } }
.error-page__title em { font-style: normal; color: #eb4200; }
.error-page .menu { table-layout: fixed; }
@media only screen and (max-width: 768px) { .error-page .menu li { width: 100%; margin-bottom: 10px; } }

.post { font-size: 15px; line-height: 1.6; color: #555; }
@media only screen and (max-width: 768px) { .post { font-size: 14px; } }
.post dl { overflow: hidden; }
.post dl dt { float: left; min-height: 1px; padding-right: 20px; width: 167px; font-size: 14px; font-weight: bold; text-transform: uppercase; }
@media only screen and (max-width: 1024px) { .post dl dt { float: none; width: 100%; margin-bottom: 10px; } }
.post dl dd { overflow: hidden; margin-bottom: 23px; }
.post img { float: right; margin-left: 5%; }
@media only screen and (max-width: 1024px) { .post img { max-width: 40%; } }
@media only screen and (max-width: 768px) { .post img { float: none; margin: 0 0 20px; display: block; width: 100%; max-width: 100%; } }
.post a { color: #eb4200; -moz-transition: color 0.2s; -o-transition: color 0.2s; -webkit-transition: color 0.2s; transition: color 0.2s; }
.post a:hover { color: #e03e00; }
.post p { margin-bottom: 24px; }

.fotorama__arr:focus:after, .fotorama__fullscreen-icon:focus:after, .fotorama__html, .fotorama__img, .fotorama__nav__frame:focus .fotorama__dot:after, .fotorama__nav__frame:focus .fotorama__thumb:after, .fotorama__stage__frame, .fotorama__stage__shaft, .fotorama__video iframe { position: absolute; width: 100%; height: 100%; top: 0; right: 0; left: 0; bottom: 0; }

.fotorama--fullscreen, .fotorama__img { max-width: 99999px !important; max-height: 99999px !important; min-width: 0 !important; min-height: 0 !important; border-radius: 0 !important; box-shadow: none !important; padding: 0 !important; }

.fotorama__wrap .fotorama__grab { cursor: move; cursor: -webkit-grab; cursor: -o-grab; cursor: -ms-grab; cursor: grab; }

.fotorama__grabbing * { cursor: move; cursor: -webkit-grabbing; cursor: -o-grabbing; cursor: -ms-grabbing; cursor: grabbing; }

.fotorama__spinner { position: absolute !important; top: 50% !important; left: 50% !important; }

.fotorama__wrap--css3 .fotorama__arr, .fotorama__wrap--css3 .fotorama__fullscreen-icon, .fotorama__wrap--css3 .fotorama__nav__shaft, .fotorama__wrap--css3 .fotorama__stage__shaft, .fotorama__wrap--css3 .fotorama__thumb-border, .fotorama__wrap--css3 .fotorama__video-close, .fotorama__wrap--css3 .fotorama__video-play { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.fotorama__caption, .fotorama__nav:after, .fotorama__nav:before, .fotorama__stage:after, .fotorama__stage:before, .fotorama__wrap--css3 .fotorama__html, .fotorama__wrap--css3 .fotorama__nav, .fotorama__wrap--css3 .fotorama__spinner, .fotorama__wrap--css3 .fotorama__stage, .fotorama__wrap--css3 .fotorama__stage .fotorama__img, .fotorama__wrap--css3 .fotorama__stage__frame { -webkit-transform: translateZ(0); transform: translateZ(0); }

.fotorama__arr:focus, .fotorama__fullscreen-icon:focus, .fotorama__nav__frame { outline: 0; }

.fotorama__arr:focus:after, .fotorama__fullscreen-icon:focus:after, .fotorama__nav__frame:focus .fotorama__dot:after, .fotorama__nav__frame:focus .fotorama__thumb:after { content: ""; border-radius: inherit; background-color: rgba(0, 175, 234, 0.5); }

.fotorama__wrap--video .fotorama__stage, .fotorama__wrap--video .fotorama__stage__frame--video, .fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html, .fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img, .fotorama__wrap--video .fotorama__stage__shaft { -webkit-transform: none !important; transform: none !important; }

.fotorama__wrap--css3 .fotorama__nav__shaft, .fotorama__wrap--css3 .fotorama__stage__shaft, .fotorama__wrap--css3 .fotorama__thumb-border { transition-property: -webkit-transform, width; transition-property: transform, width; transition-timing-function: cubic-bezier(0.1, 0, 0.25, 1); transition-duration: 0ms; }

.fotorama__arr, .fotorama__fullscreen-icon, .fotorama__no-select, .fotorama__video-close, .fotorama__video-play, .fotorama__wrap { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.fotorama__select { -webkit-user-select: text; -moz-user-select: text; -ms-user-select: text; user-select: text; }

.fotorama__nav, .fotorama__nav__frame { margin: auto; padding: 0; }

.fotorama__caption__wrap, .fotorama__nav__frame, .fotorama__nav__shaft { -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *display: inline; *zoom: 1; }

.fotorama__nav__frame, .fotorama__thumb-border { box-sizing: content-box; }

.fotorama__caption__wrap { box-sizing: border-box; }

.fotorama--hidden, .fotorama__load { position: absolute; left: -99999px; top: -99999px; z-index: -1; }

.fotorama__arr, .fotorama__fullscreen-icon, .fotorama__nav, .fotorama__nav__frame, .fotorama__nav__shaft, .fotorama__stage__frame, .fotorama__stage__shaft, .fotorama__video-close, .fotorama__video-play { -webkit-tap-highlight-color: transparent; }

.fotorama__arr, .fotorama__fullscreen-icon, .fotorama__video-close, .fotorama__video-play { background: url(fotorama.png) no-repeat; }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 2dppx) { background: url(fotorama@2x.png) 0 0/96px 160px no-repeat; }
.fotorama__thumb { background-color: #7f7f7f; background-color: rgba(127, 127, 127, 0.2); }

@media print { background: none !important; }
.fotorama { min-width: 1px; overflow: hidden; }

.fotorama:not(.fotorama--unobtrusive) > *:not(:first-child) { display: none; }

.fullscreen { width: 100% !important; height: 100% !important; max-width: 100% !important; max-height: 100% !important; margin: 0 !important; padding: 0 !important; overflow: hidden !important; background: #000; }

.fotorama--fullscreen { position: absolute !important; top: 0 !important; left: 0 !important; right: 0 !important; bottom: 0 !important; float: none !important; z-index: 2147483647 !important; background: #000; width: 100% !important; height: 100% !important; margin: 0 !important; }

.fotorama--fullscreen .fotorama__nav, .fotorama--fullscreen .fotorama__stage { background: #000; }

.fotorama__wrap { -webkit-text-size-adjust: 100%; position: relative; direction: ltr; z-index: 0; }

.fotorama__wrap--rtl .fotorama__stage__frame { direction: rtl; }

.fotorama__nav, .fotorama__stage { overflow: hidden; position: relative; max-width: 100%; }

.fotorama__wrap--pan-y { -ms-touch-action: pan-y; }

.fotorama__wrap .fotorama__pointer { cursor: pointer; }

.fotorama__wrap--slide .fotorama__stage__frame { opacity: 1 !important; }

.fotorama__stage__frame { overflow: hidden; }

.fotorama__stage__frame.fotorama__active { z-index: 8; }

.fotorama__wrap--fade .fotorama__stage__frame { display: none; }

.fotorama__wrap--fade .fotorama__fade-front, .fotorama__wrap--fade .fotorama__fade-rear, .fotorama__wrap--fade .fotorama__stage__frame.fotorama__active { display: block; left: 0; top: 0; }

.fotorama__wrap--fade .fotorama__fade-front { z-index: 8; }

.fotorama__wrap--fade .fotorama__fade-rear { z-index: 7; }

.fotorama__wrap--fade .fotorama__fade-rear.fotorama__active { z-index: 9; }

.fotorama__wrap--fade .fotorama__stage .fotorama__shadow { display: none; }

.fotorama__img { -ms-filter: "alpha(Opacity=0)"; filter: alpha(opacity=0); opacity: 0; border: none !important; }

.fotorama__error .fotorama__img, .fotorama__loaded .fotorama__img { -ms-filter: "alpha(Opacity=100)"; filter: alpha(opacity=100); opacity: 1; }

.fotorama--fullscreen .fotorama__loaded--full .fotorama__img, .fotorama__img--full { display: none; }

.fotorama--fullscreen .fotorama__loaded--full .fotorama__img--full { display: block; }

.fotorama__wrap--only-active .fotorama__nav, .fotorama__wrap--only-active .fotorama__stage { max-width: 99999px !important; }

.fotorama__wrap--only-active .fotorama__stage__frame { visibility: hidden; }

.fotorama__wrap--only-active .fotorama__stage__frame.fotorama__active { visibility: visible; }

.fotorama__nav { font-size: 0; line-height: 0; text-align: center; display: none; white-space: nowrap; z-index: 5; }

.fotorama__nav__shaft { position: relative; left: 0; top: 0; text-align: left; }

.fotorama__nav__frame { position: relative; cursor: pointer; }

.fotorama__nav--dots { display: block; }

.fotorama__nav--dots .fotorama__nav__frame { width: 18px; height: 30px; }

.fotorama__nav--dots .fotorama__nav__frame--thumb, .fotorama__nav--dots .fotorama__thumb-border { display: none; }

.fotorama__nav--thumbs { display: block; }

.fotorama__nav--thumbs .fotorama__nav__frame { padding-left: 0 !important; }

.fotorama__nav--thumbs .fotorama__nav__frame:last-child { padding-right: 0 !important; }

.fotorama__nav--thumbs .fotorama__nav__frame--dot { display: none; }

.fotorama__dot { display: block; width: 4px; height: 4px; position: relative; top: 12px; left: 6px; border-radius: 6px; border: 1px solid #7f7f7f; }

.fotorama__nav__frame:focus .fotorama__dot:after { padding: 1px; top: -1px; left: -1px; }

.fotorama__nav__frame.fotorama__active .fotorama__dot { width: 0; height: 0; border-width: 3px; }

.fotorama__nav__frame.fotorama__active .fotorama__dot:after { padding: 3px; top: -3px; left: -3px; }

.fotorama__thumb { overflow: hidden; position: relative; width: 100%; height: 100%; }

.fotorama__nav__frame:focus .fotorama__thumb { z-index: 2; }

.fotorama__thumb-border { position: absolute; z-index: 9; top: 0; left: 0; border-style: solid; border-color: #00afea; background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.25), rgba(64, 64, 64, 0.1)); }

.fotorama__caption { position: absolute; z-index: 12; bottom: 0; left: 0; right: 0; font-family: "Helvetica Neue", Arial, sans-serif; font-size: 14px; line-height: 1.5; color: #000; }

.fotorama__caption a { text-decoration: none; color: #000; border-bottom: 1px solid; border-color: rgba(0, 0, 0, 0.5); }

.fotorama__caption a:hover { color: #333; border-color: rgba(51, 51, 51, 0.5); }

.fotorama__wrap--rtl .fotorama__caption { left: auto; right: 0; }

.fotorama__wrap--no-captions .fotorama__caption, .fotorama__wrap--video .fotorama__caption { display: none; }

.fotorama__caption__wrap { background-color: #fff; background-color: rgba(255, 255, 255, 0.9); padding: 5px 10px; }

@-webkit-keyframes spinner { 0%;
  -webkit-transform: rotate(0); transform: rotate(0);
  100%;
  -webkit-transform: rotate(360deg); transform: rotate(360deg); }
@keyframes spinner { 0%;
  -webkit-transform: rotate(0); transform: rotate(0);
  100%;
  -webkit-transform: rotate(360deg); transform: rotate(360deg); }
.fotorama__wrap--css3 .fotorama__spinner { -webkit-animation: spinner 24s infinite linear; animation: spinner 24s infinite linear; }

.fotorama__wrap--css3 .fotorama__html, .fotorama__wrap--css3 .fotorama__stage .fotorama__img { transition-property: opacity; transition-timing-function: linear; transition-duration: 0.3s; }

.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html, .fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img { -ms-filter: "alpha(Opacity=0)"; filter: alpha(opacity=0); opacity: 0; }

.fotorama__select { cursor: auto; }

.fotorama__video { top: 32px; right: 0; bottom: 0; left: 0; position: absolute; z-index: 10; }

@-moz-document url-prefix() { box-shadow: 0 0 0 transparent; }
.fotorama__arr, .fotorama__fullscreen-icon, .fotorama__video-close, .fotorama__video-play { position: absolute; z-index: 11; cursor: pointer; }

.fotorama__arr { position: absolute; width: 32px; height: 32px; top: 50%; margin-top: -16px; }

.fotorama__arr--prev { left: 2px; background-position: 0 0; }

.fotorama__arr--next { right: 2px; background-position: -32px 0; }

.fotorama__arr--disabled { pointer-events: none; cursor: default; *display: none; opacity: 0.1; }

.fotorama__fullscreen-icon { width: 32px; height: 32px; top: 2px; right: 2px; background-position: 0 -32px; z-index: 20; }

.fotorama__arr:focus, .fotorama__fullscreen-icon:focus { border-radius: 50%; }

.fotorama--fullscreen .fotorama__fullscreen-icon { background-position: -32px -32px; }

.fotorama__video-play { width: 96px; height: 96px; left: 50%; top: 50%; margin-left: -48px; margin-top: -48px; background-position: 0 -64px; opacity: 0; }

.fotorama__wrap--css2 .fotorama__video-play, .fotorama__wrap--video .fotorama__stage .fotorama__video-play { display: none; }

.fotorama__error .fotorama__video-play, .fotorama__loaded .fotorama__video-play, .fotorama__nav__frame .fotorama__video-play { opacity: 1; display: block; }

.fotorama__nav__frame .fotorama__video-play { width: 32px; height: 32px; margin-left: -16px; margin-top: -16px; background-position: -64px -32px; }

.fotorama__video-close { width: 32px; height: 32px; top: 0; right: 0; background-position: -64px 0; z-index: 20; opacity: 0; }

.fotorama__wrap--css2 .fotorama__video-close { display: none; }

.fotorama__wrap--css3 .fotorama__video-close { -webkit-transform: translate3d(32px, -32px, 0); transform: translate3d(32px, -32px, 0); }

.fotorama__wrap--video .fotorama__video-close { display: block; opacity: 1; }

.fotorama__wrap--css3.fotorama__wrap--video .fotorama__video-close { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr, .fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon { opacity: 0; }

.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr:focus, .fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:focus { opacity: 1; }

.fotorama__wrap--video .fotorama__arr, .fotorama__wrap--video .fotorama__fullscreen-icon { opacity: 0 !important; }

.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr, .fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon { display: none; }

.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr:focus, .fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:focus { display: block; }

.fotorama__wrap--css2.fotorama__wrap--video .fotorama__arr, .fotorama__wrap--css2.fotorama__wrap--video .fotorama__fullscreen-icon { display: none !important; }

.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:not(:focus) { -webkit-transform: translate3d(32px, -32px, 0); transform: translate3d(32px, -32px, 0); }

.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--prev:not(:focus) { -webkit-transform: translate3d(-48px, 0, 0); transform: translate3d(-48px, 0, 0); }

.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--next:not(:focus) { -webkit-transform: translate3d(48px, 0, 0); transform: translate3d(48px, 0, 0); }

.fotorama__wrap--css3.fotorama__wrap--video .fotorama__fullscreen-icon { -webkit-transform: translate3d(32px, -32px, 0) !important; transform: translate3d(32px, -32px, 0) !important; }

.fotorama__wrap--css3.fotorama__wrap--video .fotorama__arr--prev { -webkit-transform: translate3d(-48px, 0, 0) !important; transform: translate3d(-48px, 0, 0) !important; }

.fotorama__wrap--css3.fotorama__wrap--video .fotorama__arr--next { -webkit-transform: translate3d(48px, 0, 0) !important; transform: translate3d(48px, 0, 0) !important; }

.fotorama__wrap--css3 .fotorama__arr:not(:focus), .fotorama__wrap--css3 .fotorama__fullscreen-icon:not(:focus), .fotorama__wrap--css3 .fotorama__video-close:not(:focus), .fotorama__wrap--css3 .fotorama__video-play:not(:focus) { transition-property: -webkit-transform, opacity; transition-property: transform, opacity; transition-duration: 0.3s; }

.fotorama__nav:after, .fotorama__nav:before, .fotorama__stage:after, .fotorama__stage:before { content: ""; display: block; position: absolute; text-decoration: none; top: 0; bottom: 0; width: 10px; height: auto; z-index: 10; pointer-events: none; background-repeat: no-repeat; background-size: 1px 100%, 5px 100%; }

.fotorama__nav:before, .fotorama__stage:before { background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.3) 75%, rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 0 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)); background-position: 0 0, 0 0; left: -10px; }

.fotorama__nav.fotorama__shadows--left:before, .fotorama__stage.fotorama__shadows--left:before { left: 0; }

.fotorama__nav:after, .fotorama__stage:after { background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.3) 75%, rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)); background-position: 100% 0, 100% 0; right: -10px; }

.fotorama__nav.fotorama__shadows--right:after, .fotorama__stage.fotorama__shadows--right:after { right: 0; }

.fotorama--fullscreen .fotorama__nav:after, .fotorama--fullscreen .fotorama__nav:before, .fotorama--fullscreen .fotorama__stage:after, .fotorama--fullscreen .fotorama__stage:before, .fotorama__wrap--fade .fotorama__stage:after, .fotorama__wrap--fade .fotorama__stage:before, .fotorama__wrap--no-shadows .fotorama__nav:after, .fotorama__wrap--no-shadows .fotorama__nav:before, .fotorama__wrap--no-shadows .fotorama__stage:after, .fotorama__wrap--no-shadows .fotorama__stage:before { display: none; }
