.page-head
	position: relative
	overflow: hidden
	&:before,
	&:after
		content: ""
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		z-index: 2 
	&:before
		+background-image(linear-gradient(71.57deg, #000 0%, rgba(0, 0, 0, 0.4) 0%, rgba(251, 76, 41, 0.4) 100%))
	&:after
		top: auto
		height: 50%
		+g(rgba(#000,0), rgba(#000,.6))
	img
		position: absolute
		top: 0
		left: 0
		min-width: 100%		
		min-height: 100%		
		// width: 100%
		// height: auto
		// +r(1920)
		// 	position: absolute
		// 	left: 50%
		// 	top: 50%
		// 	width: auto
		// 	+transform(translateX(-50%) translateY(-50%))
		// +r(1024)
		// 	height: 100%
		// 	width: auto
		// +r(768)
		// 	position: absolute
		// 	top: 0
		// 	left: 0
		// 	+transform(translateX(0) translateY(0))
	.l-center
		position: relative
		height: 235px
		z-index: 3
		+r(768)
			height: 180px
	&__title
		position: absolute
		bottom: 19px
		left: 10px
		right: 10px
		font-size: 36px
		color: #fff 
		+r(1024)
			font-size: 30px
.breadcrumbs-wrap
	background: #f3f3f3
	+ .map
		margin-top: -45px
		+r(768)
			margin-top: -20px
.breadcrumbs
	margin: 0 0 45px
	color: #8c8d8d 
	font-size: 11px
	+clr
	+r(768)
		margin-bottom: 20px
	
	a, span
		float: left
		margin-right: 16px
		position: relative
		height: 27px
		line-height: 27px
		+tr_c
		+r(1024)
			height: 40px
			line-height: 40px
		&:before
			content: "\f105"
			position: absolute
			left: -9px
			top: 8px
			+fa
			font-size: 12px
			+r(1024)
				top: 13px
	a
		color: #333 
		&:hover
			color: $link 
		&:first-child
			&:before
				display: none

.accord
	margin-bottom: 17px
	background: #fff
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1)
	&_height
		.accord__title
			min-height: 98px
			+r(768)
				min-height: 70px
	&__title
		position: relative
		padding: 15px 50px 15px 15px
		font-size: 18px
		cursor: pointer
		+nosel
		+tr_bgc
		min-height: 54px
		line-height: 1.3
		+r(768)
			min-height: 30px
			padding: 10px 30px 10px 15px
			font-size: 16px
		&:hover
			background: #f9f9f9 
			color: $bg_l
			&:after
				color: $bg_l
		&:active
			background: darken(#f9f9f9, 5%)
		&:after
			content: "\f107"
			position: absolute
			right: 17px
			top: 50%
			margin-top: -9px
			+fa 
			font-size: 18px
			color: $link 
			+tr_c
			+tr(transform .2s)
		&.is-active
			&:after
				+rotate(-180)
		span
			display: block
			margin-bottom: 2px
			color: #8c8d8d
			font-size: 14px 
	&__body
		display: none
		padding: 15px  
		.file-icon
			margin-left: 5px
		.text
			padding-bottom: 5px
			&:before
				content: ""
				position: absolute
				left: 0
				top: -18px
				width: 22px
				height: 2px
				background: $link
.file
	margin-bottom: 15px
	&__link
		display: inline-block
		position: relative
		padding-left: 40px
		color: $text
		+tr_c
		&:hover
			color: $link 
	.file-icon
		position: absolute
		left: 0
		top: -4px
	&_marked
		font-size: 15px
		.file__link
			+link
	
.file-icon
	display: inline-block
	position: relative
	+svg(file,17,23)
	&_pdf
		i
			background: $link
	&_doc
		i
			background: #4498ce
	&_dwg
		i
			background: #8c8d8d 
	i
		position: absolute
		left: -5px
		right: -5px
		bottom: 4px
		height: 11px
		line-height: 11px
		text-align: center
		font-size: 8px
		color: #fff
		text-transform: uppercase 
		border-radius: 2px 
		font-style: normal
		
.text
	position: relative
	line-height: 1.8
	font-size: 13px
	color: $text
	p
		margin-bottom: 10px
	a
		+link
.title
	position: relative
	margin: 35px 0 45px
	font-size: 24px
	font-weight: normal
	color: $text 
	+r(768)
		font-size: 18px
	&:after
		content: "" 
		position: absolute
		bottom: -18px
		left: 0
		width: 65px
		height: 2px
		background: $link 
	&_big
		font-size: 30px
		+r(768)
			font-size: 20px
.list-links
	line-height: 1.8
	li
		position: relative
		margin-bottom: 10px
		padding-left: 30px
		&:before
			content: ""
			position: absolute
			top: 7px
			left: 0
			+svg(arr-r,15,9) 
	a
		+link
			
.error-page
	position: relative
	overflow: hidden
	height: 100vh
	.l-center
		position: relative 
		z-index: 2
		padding-top: 75px
		height: 100%
		+vertical
		text-align: right
		+r(1024)
			padding-top: 60px
	img
		position: absolute
		top: 50%
		left: 50%
		width: 100%
		+transform(translateX(-50%) translateY(-50%))
		+r(1200)
			height: 100%
			width: auto
		+rh(700)
			width: 100%
			height: auto
		+r(768)
			height: 100%
			width: auto
	&:before
		content: ""
		position: absolute
		top: 50%
		left: 0
		right: 0
		bottom: 0
		+g(rgba(#000,0),rgba(#000,.5))
	&__in
		display: inline-block
		vertical-align: middle
		text-align: left
		max-width: 570px
		+r(1024)
			max-width: 100%
			width: 100%
		+r(768)
			text-align: right
	&__title
		margin-bottom: 53px
		font-size: 18px
		color: #fff
		text-shadow: 0 0 35px #000
		+r(768)
			font-size: 14px
			margin-bottom: 20px
		strong
			display: block
			margin-bottom: 24px
			position: relative
			font-weight: bold
			font-size: 72px
			+r(768)
				font-size: 30px
			&:after
				content: ""
				position: absolute
				bottom: -15px
				left: 0
				width: 54px
				height: 3px
				background: $link  
				+r(768)
					left: auto
					right: 0
		span
			font-size: 48px
			+r(768)
				font-size: 20px
		em
			font-style: normal
			color: $link 
	.menu
		table-layout: fixed
		li
			+r(768)
				width: 100%
				margin-bottom: 10px

.post
	font-size: 15px
	line-height: 1.6
	color: $text 
	+r(768)
		font-size: 14px
	dl
		overflow: hidden
		dt
			float: left
			min-height: 1px
			padding-right: 20px
			width: 167px
			font-size: 14px
			font-weight: bold
			text-transform: uppercase
			+r(1024)
				float: none
				width: 100%
				margin-bottom: 10px
		dd
			overflow: hidden
			margin-bottom: 23px
	img
		float: right
		margin-left: 5%	
		+r(1024)
			max-width: 40%
		+r(768)
			float: none
			margin: 0 0 20px
			display: block
			width: 100%
			max-width: 100%
	a
		+link
	p
		margin-bottom: 24px

.tabs
	+clr
	margin: 45px 0 15px
	padding-right: 1px 
	overflow: hidden
	li
		float: left
		width: 20%
		margin-bottom: 10px
		+r(1024)
			width: 33.333%
		+r(768)
			width: 100%
			
		&.is-active,
		&:hover
			a
				background: $bg
				border-color: $bg
				color: #fff 
	a
		display: block
		padding: 0 10px 
		margin-right: -1px
		height: 45px
		line-height: 45px
		+vertical
		border: 1px solid $border
		color: $bg 

		+rmin(1024)
			+tr_bgc
		span
			display: inline-block
			vertical-align: middle
			line-height: 1.1
			font-size: 13px
.colors-wrap
	font-size: 0
	margin-right: -4px	
	+r(768)
		border: 0
		margin-right: 0
		padding: 0
.color
	display: inline-block
	vertical-align: top
	width: 20%
	margin: 0 -1px 10px 0
	+r(1024)
		width: 33.333%
	+r(768)
		width: 50%
	&__top
		height: 66px
	&__main
		position: relative
		border: 1px solid $border
		padding: 6px 15px
		min-height: 49px
		font-size: 13px
		color: #8c8d8d 
		&:before
			content: ""
			position: absolute
			top: -8px
			left: 15px
			+arr(20,8,#fff,t) 
		span
			display: block
			+text-overflow

.tabs-content
	display: none
	.article
		border: 0
.panel
	margin-bottom: 5px
	&.is-active
		.panel__title
			background: $link
			color: #fff  
			&:after
				+rotate(-180)
				color: #fff 
	&__title
		position: relative
		padding: 6px 28px 6px 12px 
		font-size: 13px
		font-weight: bold
		text-transform: uppercase
		background: #F3F3F3
		+nosel
		cursor: pointer
		+tr_bgc
		&:after
			content: "\f107"
			position: absolute
			right: 10px
			top: 10px
			+fa
			font-size: 14px
			color: $bg 
			+transition(color .2s, transform .2s)
		&:hover
			background: $link
			color: #fff 
			&:after
				color: #fff  
	&__body
		padding: 10px 0
		display: none
	&__nav
		text-transform: uppercase
		li
			&.is-active
				a
					color: $link 
		a
			display: inline-block
			padding: 5px 12px
			font-size: 13px
			color: $text
			+tr_c
			&:hover
				color: $link 
	&__section
		margin: 15px 0 3px 12px
		border-bottom: 1px solid $border 
		padding-bottom: 9px
		color: $bg 
		
.pager
	margin: 30px 0 
	text-align: center
	font-size: 0
	a
		position: relative
		z-index: 2
		display: inline-block
		vertical-align: middle
		margin-right: -1px
		border: 1px solid $border
		width: 30px
		height: 30px
		line-height: 30px
		text-align: center
		background: #fff
		color: #FF4700 
		font-size: 14px
		color: $bg 
		+tr_bgc
		&:hover,
		&.is-active
			background: #ededed
		&.pager__next,
		&.pager__prev
			z-index: 1
			background: $link
			color: #fff 
			border-color: $link 
			&:hover
				background: #fff 
				border-color: $border 
			&:before,
			&:after
				content: "" 
				position: absolute
				left: 50%
				top: 50%
				margin: -8px 0 0 -5px
				+tr_o
			&:after
				opacity: 0
			&:hover
				&:after
					opacity: 1
				&:before
					opacity: 0
		&.pager__prev
			&:before
				+svg(caret-l-white,9,17)
			&:after
				+svg(caret-l-orange,9,17)
		&.pager__next
			&:before
				+svg(caret-r-white,9,17)
			&:after
				+svg(caret-r-orange,9,17)

.article
	margin-bottom: 52px
	border-bottom: 1px solid $border 
	padding-bottom: 16px
	font-size: 15px
	color: $text 
	line-height: 1.6
	&:last-child
		border: 0
	> a
		+link
	> p
		margin-bottom: 25px
.gallery
	margin: 0 0 33px 
	.fotorama
		&__stage
			background: #f3f3f3 
		&__nav-wrap
			margin-bottom: 14px
		&__thumb-border
			border-color: $link 
		&__arr 
			width: 66px
			height: 66px
			text-align: center
			line-height: 66px
			background: rgba(#000, .3)
			+transition(background, opacity, .2s)
			&:hover
				background: rgba(#000, .9)
			&:before
				content: ""
				display: inline-block
				vertical-align: middle
		&__arr--prev
			left: 15px
			&:before
				+svg(caret-l-big,23,43)
		&__arr--next
			right: 15px
			&:before
				+svg(caret-r-big,23,43)
.slider
	font-size: 0
	.el
		&__img
			border: 1px solid $border
			border-right: #000
.el-wrap
	font-size: 0
.el
	display: inline-block
	vertical-align: top
	width: 25%
	overflow: hidden
	&_simple
		margin: 0 -1px -1px 0
		border: 1px solid $border
		width: 33.3% 
		width: calc(100% / 3)
		+r(1024)
			width: 50%
		+r(480)
			width: 100%
		.el__title
			&:after
				display: none
		.el__body
			padding-left: 15px
	&__img	
		display: block
		height: 175px
		background: #f3f3f3
		overflow: hidden 
		img
			margin: 0 auto 
			min-width: 100%
			min-height: 100%
	&__body
		position: relative
		padding: 17px 20px 0 0
		z-index: 2
		font-size: 13px
		color: #7c7c7c
		&:before
			content: ""
			position: absolute
			top: -8px
			left: 16px
			+arr(20,8,#fff,t)
	&__title
		position: relative
		display: block
		margin-bottom: 8px
		padding-bottom: 11px
		font-size: 13px
		font-weight: bold
		text-transform: uppercase
		color: $text 
		+tr_c
		&:hover
			color: $link 
		&:after
			content: ""
			position: absolute
			left: 0
			bottom: 0 
			width: 38px
			height: 2px
			background: #a9aaaa 
			
.list-icon
	font-size: 0
	&_border
		border-bottom: 1px solid $border 
		padding-bottom: 27px
	li
		position: relative
		display: inline-block
		vertical-align: top
		margin-bottom: 20px
		width: 33.3%
		padding: 0 30px 0 65px
		font-size: 13px
		color: $text
		+r(1024)
			width: 100%
			padding-right: 0
		strong
			text-transform: uppercase
		p
			margin-bottom: 10px
	img
		position: absolute
		top: 0
		left: 0
		
.images
	font-size: 0
	a
		display: inline-block
		vertical-align: top
		margin-bottom: 10px
		width: 33.33%
		height: 180px
		border: 1px solid $border
		border-left: 0
		overflow: hidden
		+vertical
		background: #f3f3f3
		+r(768)
			width: 50%
			height: 150px
		+r(480)
			height: 100px
		&:nth-child(3n+1)
			border-left: 1px solid $border
			+r(768)
				border-left: none
		&:nth-child(2n)
			+r(768)
				border-left: 0
	img
		display: inline-block
		vertical-align: middle
		min-width: 100%
		min-height: 100%
		

.map
	height: 415px
	height: 54vh
	font-size: 13px
	+font
	color: $text 
	+r(1024)
		height: 40vh
	&__window
		strong
			display: block
			line-height: 1
			font-size: 18px
			font-weight: normal
			color: #333 
		span
			display: block
			margin-bottom: 5px
			color: $bg 
	.gm-style-iw
		padding: 10px 
		+ div
			display: none !important
.section
	padding-bottom: 45px
	background: #f3f3f3 
	+r(1024)
		padding: 15px 0
.table-wrap
	margin: 0 -15px 
	+r(1024)
		margin: 0		
.table
	display: table
	margin-bottom: -15px
	width: 100%
	table-layout: fixed
	border-spacing: 15px 
	+r(1024)
		display: block
		margin: 0 0 15px
	&__cell
		display: table-cell
		vertical-align: top
		background: #fff 
		+r(1024)
			display: block
			margin: 0 0 15px
	&_form
		margin-bottom: 0
.card
	padding: 23px 15px
	background: #fff  
	overflow: hidden
	font-size: 13px
	color: #333
	span
		color: $bg 
	&__head
		float: left
		margin-right: -1px 
		padding-right: 22px
		width: 150px
		border-right: 1px solid $border
		+r(768)
			float: none
			width: 100%
			margin: 0 0 10px
			padding: 0 0 10px  
			border-right: 0
			border-bottom: 1px solid $border
		strong, 
		span
			display: block
			line-height: 1
		strong
			margin-bottom: 5px
			font-weight: normal
			font-size: 18px
			&:last-child
				margin-bottom: 0
		span
			margin-bottom: 8px
	&__body
		overflow: hidden
		border-left: 1px solid $border 
		padding-left: 30px
		+r(768)
			border: 0
			padding-left: 0
	&__list
		li
			margin-bottom: 8px
			&:last-child
				margin-bottom: 0
		a
			color: #333
			+tr_c
			&:hover
				color: $link 
		
		em
			font-style: normal
			display: inline-block
			width: 27px
			
	&__inline
		li
			position: relative
			display: inline-block
			padding-left: 30px
			margin-left: 26px
			vertical-align: middle
			margin-bottom: 0
			+r(1024)
				display: block
				margin: 0 0 8px
				padding: 0
			&:first-child
				margin-left: 0
				padding-left: 0
				&:before
					display: none
			&:before
				content: "|" 
				position: absolute
				left: 0
				top: 0
				color: $border 
				+r(1024)
					display: none

.location-info
	position: relative
	display: inline-block
	padding-left: 15px
	color: #333
	+tr_c
	&:hover,
	&.is-active
		color: $link 
	.fa
		position: absolute
		top: 3px
		left: 0
		font-size: 14px
		color: $link 