.banner
	position: relative
	color: #fff
	text-align: center
	margin-bottom: -45px
	+r(768)
		margin-bottom: 40px
	+ div
		position: relative
		z-index: 2
	&__main
		position: relative
		overflow: hidden
		min-height: 360px
		background: #000 
		height: calc(100vh - 73px)
		+r(1024)
			height: calc(100vh - 60px)
	&__img
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		opacity: 0.7
		picture
			position: absolute
			bottom: 0
			left: 0
			width: 100%
			+r(1366)
				position: static
		img
			display: block
			width: 100%
			height: auto
			+r(1366)
				width: auto
				height: 100%
	.l-center
		position: relative
		z-index: 2
		height: 100%
		padding-top: 11%
	&__title
		margin: 0 0 20px
		font-size: 24px
		text-shadow: 0 0 23px rgba(28, 16, 8, 0.35)
		+r(1024)
			font-size: 20px
		strong
			display: block
			font-size: 36px
			+r(1024)
				font-size: 30px
	&__link
		display: inline-block
		padding: 0 40px 0 35px 
		height: 44px
		line-height: 44px
		background: rgba(#000, 0.7)
		border-radius: 3px
		font-size: 14px
		color: #fff
		text-transform: uppercase 
		+transition(background, border-radius, .3s)
		&:hover
			background: #000 
			border-radius: 44px 
		.icon-currency
			margin-right: 8px
.menu-wrap
	position: absolute
	z-index: 2
	width: 1160px
	padding: 0 10px 
	left: 50%
	bottom: 17.5%
	margin-left: -580px
	+r(1200)
		width: 1024px
		margin-left: -512px
	+r(1024)
		width: 768px
		margin-left: -384px
	+r(768)
		position: static
		margin: 0 auto 
		max-width: 480px
		width: auto 
	+r(480)
		width: 320px
.title-line
	margin-bottom: 20px
	overflow: hidden
	font-size: 14px
	color: #fff 
	+r(768)
		margin: 40px 0 20px
		color: $text 
	span
		display: inline-block
		position: relative
		&:before,
		&:after
			content: "" 
			position: absolute
			top: 50%
			height: 1px
			width: 1000px
			background: rgba(#fff,.4) 
			+r(768)
				background: rgba(#000,.4) 
		&:before
			left: -1024px
		&:after
			right: -1024px
.menu
	display: table
	width: 100%
	table-layout: fixed
	font-size: 13px
	text-transform: uppercase
	font-weight: bold
	text-align: center
	+r(1200)
		font-size: 12px
	+r(1024)
		font-size: 11px
		table-layout: auto
	+r(768)
		display: block
		+clr
	li
		display: table-cell
		padding-left: 1px
		vertical-align: middle
		+r(768)
			display: block
			float: left
			width: 50%
			padding: 0
			border-top: 1px solid $border
			border-left: 1px solid $border
		&:first-child
			padding-left: 0
			+r(768)
				border-top: 0
		&:nth-child(2)
			+r(768)
				border-top: 0
		&:nth-child(2n+1)
			+r(768)
				border-left: 0
	a
		display: block
		height: 51px
		line-height: 51px
		background: #fff 
		color: $link_d 
		+tr_bgc
		&:hover
			background: $bg
			color: #fff  
.icon-currency
	display: inline-block
	vertical-align: middle
	width: 22px
	height: 22px
	background: $link
	border-radius: 50%
	text-align: center
	line-height: 22px
	.fa
		vertical-align: middle
		font-size: 12px
		color: #fff 
		
.items-wrap
	font-size: 0
.item
	position: relative
	display: inline-block
	vertical-align: top
	height: 262px
	width: 32%
	margin-left: 2%
	+r(768)
		display: block
		margin-bottom: 20px
		width: 100%
		margin-left: 0
	&:first-child
		margin-left: 0
	&:hover
		.item__img
			&:before
				background: rgba(#000,.5) 
		.item__in
			strong
				color: $link
	&__img
		position: relative
		height: 197px
		overflow: hidden
		img
			display: block
			height: auto
			width: 100%
			+r(1200)
				height: 110%
				width: auto
			+r(768)
				width: 100%
				height: auto
		&:before
			content: ""
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			background: rgba(#000,0)
			+tr_bg
	&__info
		height: 65px
		background: #fff
		border: 1px solid $border
		+vertical
		+tr_bg
	&__in
		display: inline-block
		vertical-align: middle
		font-size: 14px
		strong
			display: block
			font-weight: bold
			color: #333
			text-transform: uppercase 
			+tr_c
		span
			color: $bg 
.fotorama_items
	.fotorama__stage
		height: 262px
	.item
		width: 100%
	.fotorama__shadows--left
	.fotorama__shadows--right
		border-style: none !important
	.fotorama__nav--dots
		display: none
	.fotorama__arr
		position: absolute
		bottom: 64px
		top: auto
		left: auto
		margin: 0
		width: 30px
		height: 30px
		line-height: 30px
		background: #fff
		border: 1px solid $border
		+transform(translate3d(0,0,0) !important)
		opacity: 1 !important
		text-align: center
		+transition(background .2s, border .2s)
		&:hover
			background: $link
			border-color: $link 
			&:after
				opacity: 1
			&:before
				opacity: 0
		&:before,
		&:after
			content: ""
			position: absolute
			top: 50%
			left: 50%
			margin: -8px 0 0 -5px 
			+tr_o
		&:after
			opacity: 0
	.fotorama__arr--next
		right: 0
		&:before
			+svg(caret-r,9,17)
		&:after
			+svg(caret-r-white,9,17)
	.fotorama__arr--prev
		right: 29px
		&:before
			+svg(caret-l,9,17)
		&:after
			+svg(caret-l-white,9,17)
.badge
	position: absolute
	top: 10px
	left: 0
	padding: 0 15px 
	height: 33px
	line-height: 33px
	font-size: 12px
	color: #fff 
	font-weight: bold
	white-space: nowrap
	background: $link 
	&:after
		content: ""
		position: absolute 
		top: 0
		right: -12px
		+arr(12,33,$link,tl)

.text-col
	margin-bottom: 45px
	line-height: 1.4
	color: $text_l 
	+column-count(2)
	+column-gap(65px)
	+r(768)
		+column-count(1)
	p
		margin-bottom: 28px
		strong
			font-weight: normal
			color: #444 
			
.add
	display: table
	table-layout: fixed
	width: 100%
	margin: 67px 0 60px
	background: #fff
	font-size: 14px
	color: #555 
	+tr(box-shadow .2s)
	+r(1024)
		font-size: 11px
	+r(768)
		display: block
		margin: 40px 0
		font-size: 14px
	+r(480)
		text-align: center
	&:hover
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
	&__left
		display: table-cell
		vertical-align: middle
		position: relative
		padding: 0 45px
		height: 61px
		width: 45%
		font-weight: bold
		text-transform: uppercase
		background: $link 
		color: #fff 
		+r(1200)
			width: 50%
			padding: 0 20px 
		+r(768)
			display: block
			padding: 15px 10px 
			width: 100%
			height: auto
		&:after
			content: ""
			position: absolute
			top: 0
			right: -27px
			+arr(27,61,$link,tl) 
			+transition(border .2s)
			+r(768)
				display: none
	i, span
		display: inline-block
		vertical-align: middle
	.icon-gift
		margin-right: 36px
		+r(1024)
			margin-right: 10px
		+r(480)
			margin: 0 0 10px 
	&__right
		display: table-cell
		padding-left: 8%
		vertical-align: middle
		+r(768)
			display: block
			padding: 15px 10px 
.icon-gift
	width: 32px
	height: 32px
	background: #fff
	border-radius: 50%
	text-align: center
	line-height: 32px  
	.fa
		font-size: 16px
		color: $link 